.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  align-items: 'left';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logging {
  
}

.left-wrap{
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  width: 55%;
}

.right-wrap{
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.logging-image {
  width: 100%;
  height: auto;
}



